<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

<div class="container rounded bg-white mt-5">
    <div class="row">
        <div class="col-md-4 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" src="https://i.imgur.com/0eg0aG0.jpg" width="90">
                <span class="font-weight-bold">Saroj Singh</span><span class="text-black-50">sarojsingh432@gmail.com</span>
                <span>India</span>
            </div>
        </div>
        <div class="col-md-8">
            <div class="p-3 py-5">
                <!-- <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="d-flex flex-row align-items-center back">
                        <button routerLink="/profile"><i class="fas fa-long-arrow-alt-left"></i></button>
                        <button routerLink="/profile">
                            <h6>View Profile</h6>
                        </button>
                    </div>
                </div> -->
                <div class="row mt-2">
                    <div class="col-md-6"><input type="text" class="form-control" placeholder="first name"
                            value="Saroj"></div>
                    <div class="col-md-6"><input type="text" class="form-control" value="Singh" placeholder="Last-name">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><input type="text" class="form-control" placeholder="Email"
                            value="sarojsingh432@gamil.com"></div>
                    <div class="col-md-6"><input type="text" class="form-control" value="987654321"
                            placeholder="Phone number"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><input type="text" class="form-control" placeholder="address"
                            value="West Bengal"></div>
                    <div class="col-md-6"><input type="text" class="form-control" value="India" placeholder="Country">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><input type="date" class="form-control" placeholder="DD-MM-YYYY"
                            value="20-03-1999"></div>
                </div>
                <div class="mt-5 text-right"><button class="btn btn-primary profile-button" type="button">Save
                        Profile</button></div>
            </div>
        </div>
    </div>
</div>