<mat-nav-list>
    <div class="logo py-4">
        <img class ="img" src="../../assets/logo.png" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
    
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/home"><mat-icon>home</mat-icon> Home</a> -->
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/learner-profile"> <mat-icon>account_circle</mat-icon> User Profile </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/assessment"> <mat-icon>assessment</mat-icon> Create Assessment </a>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/leaderboard"> <mat-icon>leaderboard</mat-icon> Leaderboard </a> -->
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/grading"> <mat-icon>grade</mat-icon> Grading </a>   -->
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/takeAssessment"> <mat-icon>assessment</mat-icon>Take Assessment </a>  
</mat-nav-list>