@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif
}

html,
body {
    height: 100%
}

body {
    margin-left: 17px;
    display: grid;
    place-items: center;
    background: #07034b
}

.card {
    color: #fff;
    width: 350px;
    border-radius: 10px;
    background: linear-gradient(145deg, #000000, #1c2b8a);
    box-shadow: 20px 20px 60px #0c0535, 20px 20px 60px #052b52;
    border: none
}

.neo-button {
    width: 40px;
    height: 40px;
    outline: 0 !important;
    cursor: pointer;
    color:white;
    font-size: 15px;
    border: none;
    margin-right: 10px;
    border-radius: 50%;
    background: linear-gradient(145deg, #0a0b1b, #0a060b);
    box-shadow: inset 20px 20px 60px #151139, inset -20px -20px 60px #1a0d98;
}

.num {
    color: #eee !important
}

.line {
    color: #fff
}

.neo-button:active {
    border-radius: 50%;
    background: #291a6d;
    box-shadow: 28px 28px 57px #000000, -28px -28px 57px #404150
}


 /* .fa-facebook:hover {
 background-color: #000000;
}

.fa-linkedin {
    color: #fdfeff
}

.fa-google {
    color: #ffffff
}

.fa-youtube {
    color: #ffffff
}

.fa-twitter {
    color: #ffffff
}  */

.profile_button {
    color: white;
    padding: 10px;
    border: none;
    outline: 0 !important;
    border-radius: 50px;
    background: #000000;
    box-shadow: 28px 28px 57px #5127b8, -28px -28px 57px #112b98;
}