

<section class="main">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-lg-7 pt-5 ">
                <h1 class="pt-5">
                    Let LearnByAsses help you work more effectively and create better student team outcomes
                </h1>
                <button class="btn1" style="height: 50px;" routerLink="/signup" routerLinkActive="active" >Get Started</button>
                <br><br>
                <h3 style="font-family: cursive;">When students engage in peer learning, they internalize the standards expected of themselves by reviewing others against those same standards. The incentivized engagement in peer learning naturally leads to the biggest learning gains in those students most at-risk of not completing their coursework, leading to improved retention and lower cost. Actionable learning data allows instructors to personalize learning for students in their specific area of need.</h3>
            </div>

        </div>
    </div>
</section>

<section class="row w-100 py-5 px-5 " id="features">
    <div class="col-lg-6 col-img"></div>
    <div class="col-lg-6">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1" style="padding-top: 5%;">

                    <h1 style="font-weight: bold; font-family: cursive; ">Welcome to Learn By Assess</h1>
                    <p>Peer assessment allows your classroom to become a community of learners working toward each
                        others’ academic success. As students review each other, they gain a deeper understanding of the
                        course content while improving writing and critical thinking skills.</p>
                    <p>Assessment is no longer a one-time event, but an ongoing process of feedback, understanding and
                        improvement. Students receive quality feedback to take into the next assignment. As they act in
                        the role of teacher to their peers, students improve their:</p>
                    <div class="feature d-flex">
                        <div class="iconbox">
                            <i class="bx bxs-doughnut-chart"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="row w-100 py-5 px-5" id="features">
    <div class="col-lg-6 col-img1"></div>
    <div class="col-lg-6">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1" style="padding-top: 5%;">

                    <h1 style="font-weight: bold; font-family: cursive; ">Team Member Evaluation</h1>

                    <p>LearnByAssess' Team Member Evaluation tool is an anonymous way to evaluate team members’
                        contribution in any group project. Instructors, administrators, or HR professionals can use the
                        completely customizable tool to gain quantitative and qualitative data about the dynamics of
                        each group. Team members can comment on metrics such as Professionalism, Communication, Content
                        Knowledge and Skills, Work Ethic, Overall Contribution, as well as custom metrics. Group members
                        gain valuable insight that can help them improve their collaboration skills. Team Member
                        Evaluation can be used as part of a Peerceptiv group assessment or on its own.</p>
                    <div class="feature d-flex">
                        <div class="iconbox">
                            <i class="bx bxs-doughnut-chart"></i>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="row w-100 py-5 px-5" id="features">
    <div class="col-lg-6 col-img2"></div>
    <div class="col-lg-6">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1" style="padding-top: 5%;">

                    <h1 style="font-weight: bold; font-family: cursive; ">Collaborative Learning</h1>

                    <p>LearnByAssess' research-validated framework provides a platform for truly collaborative learning.
                        Collaboration is most successful when students with diverse perspectives push each other to
                        improve.

                    <p> With instructor-created commenting prompts, students are encouraged to provide high-quality,
                        constructive, and specific comments to one another. Commenting on a classmate’s work, both good
                        and bad, is a valuable learning opportunity. Students not only benefit from receiving
                        constructive feedback, but also from giving it. Peerceptiv gives students the opportunity to act
                        as teacher to their peers, providing a valuable opportunity for growth.</p>
                    <div class="feature d-flex">
                        <div class="iconbox">
                            <i class="bx bxs-doughnut-chart"></i>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="row w-100 py-5 px-5" id="features">
    <div class="col-lg-6 col-img3"></div>
    <div class="col-lg-6">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1" style="padding-top: 5%;">

                    <h1 style="font-weight: bold; font-family: cursive; ">Instructor Analytics</h1>


                    <p> LearnByAssess offers instructors a powerful tool to verify and improve learning outcomes through
                        the analytics dashboard. Based on algorithms developed over a decade at the University of
                        Pittsburgh, Peerceptiv’s data dashboard allows instructors to:</p>

                    <p>Quickly identify students in need of intervention</p>
                    <p>Differentiate instruction on future assignments</p>
                    <p> Analyze the efficacy of assignment rubrics</p>
                    <p>Track student progress through assignments.</p>
                    <p>These analytics are specifically designed to improve higher order skills, like critical thinking,
                    writing, and argumentation.</p>
                    <div class="feature d-flex">
                        <div class="iconbox">
                            <i class="bx bxs-doughnut-chart"></i>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="contact py-5 bg-light">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-5 m-auto text-center">
                <h1>Contact Us</h1>
                <h6 style="color: rgb(248,26,92);">Always Be In Touch With Us </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 m-auto">
                <div class="row">
                    <div class="col-lg-4">
                        <h6>LOCATION</h6>
                        <p>E-City, Bengaluru</p>

                        <h6>PHONE</h6>
                        <p>01111222-33567</p>

                        <h6>EMAIL</h6>
                        <p>learnbyassess@gmail.com</p>
                    </div>
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" class="form-control bg-light" placeholder="First Name">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" class="form-control bg-light" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 py-3">
                                <textarea name="" class="form-control bg-light" placeholde="Enter your name" id=""
                                    cols="10" rows=5></textarea>
                            </div>
                        </div>
                        <button class="btn2">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="footer">
    <h3>Copyright © 2021 Learn By Assess. All Rights Reserved</h3>
</section>